{% extends "OOTD/base.html" %}

{% block content %}
<form enctype= "multipart/form-data" method="POST"
      class="col-sm-offset-4 col-sm-4 sign_up" action="{% url 'reset_password' username%}">
    <div>{{message}}</div>

    {% for field in form.visible_fields %}
          <div class="form-group">
                <label>{{field.label_tag}}</label>
                {{field}}
          </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-block">Submit</button>

</form>
{% endblock %}